@import '../../theme/variables.scss';

@mixin flexBox {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCard {
  @include flexBox;
  flex-direction: column;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px 5px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  text-decoration: none !important;
  
  &:hover {
    background-color: $white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.2);

    .name {
      height: auto !important;
    }
  }

  .imageBlock {
    @include flexBox;
    width: 250px;
    background-color: $white;
    border-radius: 20px;
    padding: 20px 0;
  }

  .image {
    border-radius: 20px;
    object-fit: scale-down
  }

  .name {
    width: 180px;
    height: 20px;
    text-align: left;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $primaryFontColor;
  }

  .price {
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    font-weight: 600;
    color: $primaryFontColor;
  }
}

@media only screen and (min-width: 600px) {
  .productCard {
    width: 250px !important;
    
    .imageBlock {
      width: 220px !important;
    }
  }
}