@import '../../theme/variables.scss';

.root {
    width: 100vw;
    height: 100vh;
    background-color: $primaryBGColor;
    color: $primaryFontColor;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}