@import "../../theme/variables.scss";

@mixin flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productContainer {
  @include flexBox;
  flex-direction: column;
  padding: 50px;
  margin: 30px;
  width: 100%;
  overflow: hidden !important;

  .boxContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 30px;

    @mixin box {
      @include flexBox;
      text-align: center;
      height: 40px;
      padding: 0 30px;
      border: none;
      background-color: rgba(255, 255, 255, 0.957);
      border-radius: 5px;
      box-shadow: 0 0 5px 2px rgb(192, 192, 192);
      color: $secondaryFontColor;
      outline: none;
    }

    .searchBar {
      @include box; 
      box-shadow: 0 0 5px 2px rgb(192, 192, 192);
      width: 30%;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      text-align: left
    }

    .category {
      @include box; 
      width: 25%;
      cursor: pointer;
      text-align: left;
    }

    .optionText {
      background-color: rgba(255, 255, 255, 0.957);
      border: none;
      color: $secondaryFontColor;
    }
  }

  .productBlock {
    margin-top: 50px;
    @include flexBox;
    width: 70%;
    flex-wrap: wrap;
  }

  .fabButton {
    @include flexBox;
    position: sticky;
    justify-content: flex-end;
    align-items: flex-end;
    background: transparent;

    .addButton {
      @include flexBox;
      position: fixed;
      bottom: 30px;
      right: 50px;
      height: 60px;
      width: 60px;
      background-color: black;
      border-radius: 60px;
      transition: all 0.4s ease-in-out;
      &:hover {
        box-shadow: 0px 5px 20px 5px #2f2f2f;
      }

      .addCircle {
        width: 30px;
        height: 5px;
        background-color: $white;
        isolation: isolate;
        display: inline-block;
        position: relative;
      }

      .addCircle:after {
        display: block;
        position: absolute;
        top: 0;
        width: 30px;
        height: 5px;
        content: "";
        background-color: $white;
        transform: rotate(90deg);
      }
    }
  }

}

@media only screen and (max-width: 1500px) {
  .productBlock {
    width: 100% !important;
  }
  .boxContainer {
    flex-wrap: wrap;

    .searchBar {
      width: 100% !important;
      margin: 10px 0px;
      height: 60px !important;
      font-size: 20px;
      border-radius: 15px !important; 
    }

    .category {
      width: 100% !important;
      height: 60px !important;
      font-size: 20px;
      border-radius: 15px !important; 
      margin: 10px 0px;
    }

  }
}
