@import "../../theme/variables.scss";

@mixin flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  @include flexBox;
  flex-direction: column;
  width: 100%;
  padding: 50px 0px;

  .contentbox {
    width: 60%;
    @include flexBox;
    flex-direction: column;
    align-items: flex-start;

    .detailsWrapper {
      @include flexBox;
      justify-content: flex-start;
      height: 340px;

      .nameBlock {
        @include flexBox;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 280px;
        padding-left: 30px;

        .name {
          font-size: 30px;
          font-weight: 700;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .price {
          font-size: 25px;
          color: rgba(88, 88, 88, 0.872);
        }
      }
    }

    .imageWrapper {
      @include flexBox;
      border-radius: 20px;
      background-color: $white;
      min-width: 200px;
    }

    .image {
      border-radius: 20px;
      object-fit: scale-down;
    }

    .divider {
      margin: 20px;
      width: 100%;
      border: 0.1px solid rgba(61, 60, 60, 0.872);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .descriptionBox {
      @include flexBox;
      flex-direction: column;
      align-items: flex-start;

      .title {
        color: black;
        font-size: 22px;
        margin: 20px 0px 10px 0;
      }

      .description {
        font-size: 16px;
        color: rgba(88, 88, 88, 0.872);
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .contentbox {
    width: 100% !important;
    margin-top: 0px;
    align-items: center;
  }

  .detailsWrapper {
    flex-direction: column;
    width: 100%;
    height: auto !important;
    min-height: 420px !important;
    
    .image {
      margin-right: 0px !important;
    }
    .nameBlock {
      height: auto !important;
      min-height: 200px !important;

      .name {
        font-size: 50px !important;
        margin-top: 20px;
      }

      .price {
        font-size: 30px !important;
        margin-top: 30px;
      }
    }
  }

  .descriptionBox {
    .title {
      font-size: 30px !important;
    }

    .description {
      font-size: 25px !important;
    }
  }
}