@import "../../theme/variables.scss";

@mixin flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  @include flexBox;
  flex-direction: column;
  padding: 50px;
  margin: 30px;
  overflow: hidden !important;
  width: 30%;  

  .headline {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    font-weight: 500;
  }
}




.category {
  width: 100%;
  box-sizing: content-box;
  height: 34px;
  padding: 5px 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.957);
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgb(192, 192, 192);
  color: $secondaryFontColor;
  min-height: 30px;
  font-size: 16px;
  margin-bottom: 25px;
  cursor: pointer;
}

@media only screen and (max-width: 1500px) {
  .container {
    width: 100% !important;

    .headline {
      font-size: 30px;
    }

    .category {
      width: 100% !important;
      padding: 20px;
      font-size: 25px !important;
    }
  }
}