@import '../../theme/variables.scss';

.textBar {
  width: calc(100vw - 120px);
  height: 40px;
  text-align: center;
  padding: 0 30px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgb(192, 192, 192);
  margin: 20px 0px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;

  .links {
    text-decoration: none !important;
    color: $primaryFontColor;
  }
}

@media only screen and (max-width: 1500px) {
  .textBar {
    height: 80px;
    font-size: 25px;
    border-radius: 15px !important;
  }
}